In [1]:
import numpy as np
import pandas as pd
df = pd.read_csv('/Users/josephhartono/Downloads/nba_files/nnba_salaries_2018_to_2021_w_salary_tags.csv')
df2 = pd.read_csv('/Users/josephhartono/Downloads/nba_files/nba_salaries_1984_to_2017_w_salary_tags.csv')
df3 = pd.read_csv('/Users/josephhartono/Downloads/nba_files/nba2018-2022Positions.csv')

         Player Pos   Age   Tm
0  Álex Abrines  SG  25.0  OKC
1    Quincy Acy  PF  28.0  PHO
2  Jaylen Adams  PG  22.0  ATL
3  Steven Adams   C  25.0  OKC
4   Bam Adebayo   C  21.0  MIA

In [8]:
position = []
count = 0
for name in df['name']:
    
    bug_name = name[:-1]
        
    try:
        copy = df2.copy(deep = True)
        copy = copy[copy['name'] == bug_name]
        copy = copy.iloc[0]
        position.append(copy['position'])
    except:
        copy = df3.copy(deep = True)
        copy = copy[copy['Player'] == bug_name]
        copy = copy.head(1)
        pos = copy['Pos'].values
        pos = pos[0]  
        position.append(pos)
df['position'] = position

In [9]:
mapping = {'PG':"Point Guard",'PG-SG':"Point Guard and Shooting Guard",'PG-SF':"Point Guard and Small Forward",'PG-PF':"Point Guard and Power Forward",'PG-C':"Point Guard and Center",
           'SG':"Shooting Guard",'SG-PG':"Shooting Guard and Point Guard",'SG-SF':"Shooting Guard and Small Forward",'SG-PF':"Shooting Guard and Power Forard",'SG-C':"Shooting Guard and Center",
           'SF':"Small Forward",'SF-PG':"Small Forward and Point Guard",'SF-SG':"Small Forward and Shooting Guard",'SF-PF':"Small Forward and Power Forward",'SF-C':"Small Forward and Center",
           'PF':"Power Forward",'PF-PG':"Power Forward and Point Guard",'PF-SG':"Power Forward and Shooting Guard",'PF-SF':"Power Forward and Small Forward",'PF-C':"Power Forward and Center",
           'C':"Center",'C-PG':"Center and Point Guard",'C-SG':"Center and Shooting Guard",'C-SF':"Center and Small Forward",'C-PF':"Center and Power Forward"}
df = df.replace({'position':mapping})

In [11]:
df[df['position'] == "Point Guard"]

,name,salary,season_start,season_end,salary_bin,position
0,Stephen Curry,37457154,2018,2019,max,Point Guard
1,Russell Westbrook,35665000,2018,2019,max,Point Guard
2,Chris Paul,35654150,2018,2019,max,Point Guard
4,Kyle Lowry,32700000,2018,2019,max,Point Guard
9,Mike Conley,30521115,2018,2019,max,Point Guard
...,...,...,...,...,...,...
2301,Jaysean Paige,53176,2021,2022,minimum,Point Guard
2304,Ahmad Caver,53176,2021,2022,minimum,Point Guard
2305,Shaq Buchanan,53176,2021,2022,minimum,Point Guard
2319,Luca Vildoza,42789,2021,2022,minimum,Point Guard
2320,Zavier Simpson,37223,2021,2022,minimum,Point Guard

In [14]:
good_data = df2[['name', 'salary', 'season_start', 'season_end','salary_bin','position']]
good_data

,name,salary,season_start,season_end,salary_bin,position
0,Kareem Abdul-Jabbar,1530000,1984,1985,average,Center
1,Alvan Adams,500000,1984,1985,below average,Center and Power Forward
2,Mark Aguirre,800000,1984,1985,below average,Small Forward
3,Danny Ainge,400000,1984,1985,minimum,Shooting Guard and Point Guard
4,John Bagley,209000,1984,1985,minimum,Point Guard
...,...,...,...,...,...,...
13607,Cody Zeller,5318313,2016,2017,above average,Center
13608,Tyler Zeller,8000000,2016,2017,above average,Center
13609,Stephen Zimmerman,950000,2016,2017,below average,Center
13610,Paul Zipser,750000,2016,2017,below average,Small Forward
13611,Ivica Zubac,1034956,2016,2017,below average,Center

In [15]:
frames = [good_data, df]
result = pd.concat(frames)

In [16]:
result

,name,salary,season_start,season_end,salary_bin,position
0,Kareem Abdul-Jabbar,1530000,1984,1985,average,Center
1,Alvan Adams,500000,1984,1985,below average,Center and Power Forward
2,Mark Aguirre,800000,1984,1985,below average,Small Forward
3,Danny Ainge,400000,1984,1985,minimum,Shooting Guard and Point Guard
4,John Bagley,209000,1984,1985,minimum,Point Guard
...,...,...,...,...,...,...
2318,Craig Sword,53176,2021,2022,minimum,Shooting Guard
2319,Luca Vildoza,42789,2021,2022,minimum,Point Guard
2320,Zavier Simpson,37223,2021,2022,minimum,Point Guard
2321,Mfiondu Kabengele,19186,2021,2022,minimum,Center
2322,Melvin Frazier,13294,2021,2022,minimum,Shooting Guard

In [17]:
result.to_csv('out.csv', encoding='utf-8', index=False)