x is the overall draft pick
y is the average pie score
z is the year after they were drafted

In [1]:
from nba_api.stats.endpoints import drafthistory

In [28]:
df = drafthistory.DraftHistory("00").get_data_frames()[0]
df = df[df['SEASON'] > "1990"]
df.drop('ROUND_NUMBER', inplace=True, axis=1)
df.drop('ROUND_PICK', inplace=True, axis=1)
df.drop('DRAFT_TYPE', inplace=True, axis=1)
df.drop('TEAM_ID', inplace=True, axis=1)
df.drop('TEAM_CITY', inplace=True, axis=1)
df.drop('TEAM_NAME', inplace=True, axis=1)
df.drop('TEAM_ABBREVIATION', inplace=True, axis=1)
df.drop('ORGANIZATION', inplace=True, axis=1)
df.drop('ORGANIZATION_TYPE', inplace=True, axis=1)
df.drop('PLAYER_PROFILE_FLAG', inplace=True, axis=1)
df.drop('PERSON_ID', inplace=True, axis=1)
df = df[df['SEASON'] >= "1996"]
df = df[df['PLAYER_NAME'] == "Ben Simmons"]
display(df)

     PLAYER_NAME SEASON  OVERALL_PICK
358  Ben Simmons   2016             1

In [16]:
import numpy as np
import pandas as pd
df1 = pd.concat(
    map(pd.read_csv, ['/Users/josephhartono/Downloads/nba_files/pieScores/1996.csv', 
                      '/Users/josephhartono/Downloads/nba_files/pieScores/1997.csv',
                     '/Users/josephhartono/Downloads/nba_files/pieScores/1998.csv',
                     '/Users/josephhartono/Downloads/nba_files/pieScores/1999.csv',
                     '/Users/josephhartono/Downloads/nba_files/pieScores/2000.csv',
                      '/Users/josephhartono/Downloads/nba_files/pieScores/2001.csv',
                      '/Users/josephhartono/Downloads/nba_files/pieScores/2002.csv',
                      '/Users/josephhartono/Downloads/nba_files/pieScores/2003.csv',
                      '/Users/josephhartono/Downloads/nba_files/pieScores/2004.csv',
                      '/Users/josephhartono/Downloads/nba_files/pieScores/2005.csv',
                      '/Users/josephhartono/Downloads/nba_files/pieScores/2006.csv',
                      '/Users/josephhartono/Downloads/nba_files/pieScores/2007.csv',
                      '/Users/josephhartono/Downloads/nba_files/pieScores/2008.csv',
                      '/Users/josephhartono/Downloads/nba_files/pieScores/2009.csv',
                      '/Users/josephhartono/Downloads/nba_files/pieScores/2010.csv',
                      '/Users/josephhartono/Downloads/nba_files/pieScores/2011.csv',
                      '/Users/josephhartono/Downloads/nba_files/pieScores/2012.csv',
                      '/Users/josephhartono/Downloads/nba_files/pieScores/2013.csv',
                      '/Users/josephhartono/Downloads/nba_files/pieScores/2014.csv',
                      '/Users/josephhartono/Downloads/nba_files/pieScores/2015.csv',
                      '/Users/josephhartono/Downloads/nba_files/pieScores/2016.csv',
                      '/Users/josephhartono/Downloads/nba_files/pieScores/2017.csv',
                      '/Users/josephhartono/Downloads/nba_files/pieScores/2018.csv',
                      '/Users/josephhartono/Downloads/nba_files/pieScores/2019.csv',
                      '/Users/josephhartono/Downloads/nba_files/pieScores/2020.csv',
                      '/Users/josephhartono/Downloads/nba_files/pieScores/2021.csv',
]), ignore_index=True)







display(df1)

,PLAYER,TEAM,AGE,GP,W,L,MIN,OFFRTG,DEFRTG,NETRTG,...,DREB%,REB%,TO RATIO,EFG%,TS%,USG%,PACE,PIE,POSS,Year
0,A.C. Green,DAL,33,83,23,60,30.1,97.4,104.8,-7.4,...,18.4,13.5,10.3,48.5,52.3,11.8,90.46,9.8,"4,699",1996
1,Aaron McKie,DET,24,83,48,35,19.6,101.5,97.8,3.7,...,11.3,7.1,13.5,46.7,52.4,14.2,90.88,9.5,"3,084",1996
2,Aaron Williams,VAN,25,33,4,29,17.0,93.3,102.6,-9.3,...,14.4,12.9,15.0,57.4,59.9,16.1,90.85,11.2,"1,062",1996
3,Acie Earl,MIL,27,47,14,33,10.6,93.6,100.0,-6.4,...,12.2,9.4,12.7,37.4,43.5,22.0,94.58,5.6,987,1996
4,Adam Keefe,UTA,27,62,48,14,14.8,106.6,99.4,7.2,...,15.8,12.9,15.9,51.3,57.2,12.4,92.59,8.3,"1,766",1996
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12302,Zach LaVine,CHI,27,67,37,30,34.7,112.5,113.4,-0.9,...,12.1,6.7,9.4,55.4,60.5,28.4,99.36,12.9,"4,827",2021
12303,Zavier Simpson,OKC,25,4,1,3,43.5,98.6,125.1,-26.5,...,11.4,5.8,10.6,37.5,40.6,15.8,97.75,5.9,354,2021
12304,Zeke Nnaji,DEN,21,41,24,17,17.0,107.2,110.4,-3.2,...,14.1,10.7,9.0,61.6,62.9,14.6,99.25,7.8,"1,443",2021
12305,Ziaire Williams,MEM,20,62,41,21,21.7,112.9,108.8,4.2,...,7.1,4.4,7.4,54.0,55.9,14.4,103.22,5.5,"2,896",2021
12306,Zylan Cheatham,UTA,26,1,0,1,5.2,18.2,125.0,-106.8,...,0.0,0.0,0.0,0.0,0.0,25.0,106.50,-16.7,11,2021

In [17]:
df1.drop('TEAM', inplace=True, axis=1)
df1.drop('AGE', inplace=True, axis=1)
df1.drop('W', inplace=True, axis=1)
df1.drop('L', inplace=True, axis=1)
#df1.drop('MIN', inplace=True, axis=1)
df1.drop('OFFRTG', inplace=True, axis=1)
df1.drop('DEFRTG', inplace=True, axis=1)
df1.drop('NETRTG', inplace=True, axis=1)
df1.drop('AST%', inplace=True, axis=1)
df1.drop('AST/TO', inplace=True, axis=1)
df1.drop('AST RATIO', inplace=True, axis=1)
df1.drop('OREB%', inplace=True, axis=1)
df1.drop('DREB%', inplace=True, axis=1)
df1.drop('REB%', inplace=True, axis=1)
df1.drop('TO RATIO', inplace=True, axis=1)
df1.drop('EFG%', inplace=True, axis=1)
df1.drop('TS%', inplace=True, axis=1)
df1.drop('USG%', inplace=True, axis=1)
df1.drop('PACE', inplace=True, axis=1)
df1.drop('POSS', inplace=True, axis=1)

In [18]:
df1.columns

Index(['PLAYER', 'GP', 'MIN', 'PIE', 'Year'], dtype='object')

In [6]:
df1

                PLAYER  GP   MIN   PIE  Year
0           A.C. Green  83  30.1   9.8  1996
1          Aaron McKie  83  19.6   9.5  1996
2       Aaron Williams  33  17.0  11.2  1996
3            Acie Earl  47  10.6   5.6  1996
4           Adam Keefe  62  14.8   8.3  1996
...                ...  ..   ...   ...   ...
12302      Zach LaVine  67  34.7  12.9  2021
12303   Zavier Simpson   4  43.5   5.9  2021
12304       Zeke Nnaji  41  17.0   7.8  2021
12305  Ziaire Williams  62  21.7   5.5  2021
12306   Zylan Cheatham   1   5.2 -16.7  2021

[12307 rows x 5 columns]

for name in df1

    if name is not in list
    
        get overall position(name)

        loc based on name
        append overall position to all of them

        append(take Year - draft class)
        
        append name to list

In [19]:
df

           PLAYER_NAME SEASON  OVERALL_PICK
0       Paolo Banchero   2022             1
1        Chet Holmgren   2022             2
2     Jabari Smith Jr.   2022             3
3        Keegan Murray   2022             4
4           Jaden Ivey   2022             5
...                ...    ...           ...
1593  Shandon Anderson   1996            54
1594  Ronnie Henderson   1996            55
1595      Reggie Geary   1996            56
1596        Drew Barry   1996            57
1597  Darnell Robinson   1996            58

[1598 rows x 3 columns]

In [20]:
alreadyDone = []
for name in df1['PLAYER']:
        
    if name not in alreadyDone:
        
        try:
        
            #get overall position
            player = df[df['PLAYER_NAME']==name].head()
            overall = player['OVERALL_PICK'].values[0]

            #append overall position to name
            df1.loc[df1['PLAYER'] == name, 'overall'] = overall
            
            
        
        except:
            pass
        
        alreadyDone.append(name)

In [29]:
df1[df1['PLAYER'] == "Ben Simmons"]

            PLAYER  GP   MIN   PIE  Year  overall  yearsAfter
9603   Ben Simmons  81  33.7  15.4  2017      1.0           1
10138  Ben Simmons  79  34.2  14.5  2018      1.0           2
10666  Ben Simmons  57  35.4  14.2  2019      1.0           3
11198  Ben Simmons  58  32.4  12.8  2020      1.0           4

In [21]:
draft_years_after = []

for row in df1.itertuples():
    

    
    try:
        player = df[df['PLAYER_NAME']==row.PLAYER].head()
        season = player['SEASON'].values[0]
        season = int(season)
        

        
        
        year = row.Year - season
        
    
        
        draft_years_after.append(year)
    except:
        draft_years_after.append(-1)

In [12]:
draft_years_after

[-1,
 2,
 -1,
 3,
 4,
 -1,
 1,
 -1,
 3,
 0,
 4,
 -1,
 0,
 1,
 -1,
 3,
 2,
 -1,
 2,
 4,
 -1,
 0,
 -1,
 -1,
 2,
 1,
 -1,
 -1,
 -1,
 -1,
 -1,
 0,
 -1,
 -1,
 -1,
 5,
 -1,
 5,
 -1,
 -1,
 1,
 3,
 5,
 -1,
 1,
 4,
 -1,
 -1,
 0,
 2,
 -1,
 2,
 -1,
 1,
 4,
 3,
 -1,
 -1,
 3,
 -1,
 -1,
 2,
 -1,
 -1,
 -1,
 -1,
 -1,
 2,
 1,
 1,
 -1,
 -1,
 5,
 -1,
 3,
 -1,
 -1,
 0,
 3,
 3,
 4,
 -1,
 4,
 -1,
 2,
 -1,
 3,
 1,
 1,
 -1,
 1,
 5,
 -1,
 1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 2,
 -1,
 -1,
 1,
 -1,
 -1,
 -1,
 -1,
 -10,
 -1,
 -1,
 -1,
 -1,
 0,
 -1,
 -1,
 2,
 -1,
 -1,
 -1,
 -1,
 -1,
 2,
 5,
 -1,
 -1,
 4,
 1,
 -1,
 -1,
 1,
 1,
 2,
 2,
 4,
 5,
 -1,
 -1,
 -1,
 -1,
 -1,
 1,
 -1,
 -1,
 2,
 -1,
 -1,
 5,
 4,
 4,
 -1,
 -1,
 -1,
 2,
 2,
 5,
 2,
 1,
 1,
 0,
 -1,
 3,
 -1,
 -1,
 -1,
 1,
 1,
 -1,
 -1,
 -1,
 1,
 2,
 3,
 -1,
 1,
 -1,
 3,
 -17,
 2,
 2,
 -1,
 -1,
 5,
 -1,
 -1,
 3,
 2,
 1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 2,
 4,
 5,
 3,
 -1,
 -1,
 2,
 3,
 3,
 -1,
 0,
 2,
 -1,
 1,
 2,
 0,
 -1,
 -1,
 -1,
 0,
 0,
 1,
 -1,
 0,
 1,
 4,
 2,
 -1,
 1,
 5,
 -1,
 -1,
 -1,
 1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 0,
 -1,
 4,
 -1,
 2,
 -1,
 -1,
 -1,
 -1,
 -1,
 5,
 -1,
 0,
 -1,
 -1,
 -1,
 1,
 -1,
 -1,
 -1,
 2,
 0,
 1,
 4,
 -1,
 2,
 5,
 -1,
 -1,
 4,
 1,
 4,
 3,
 -1,
 4,
 -1,
 1,
 0,
 -1,
 1,
 -1,
 5,
 3,
 -1,
 0,
 4,
 0,
 0,
 -1,
 -1,
 -1,
 1,
 0,
 -1,
 -1,
 -1,
 -1,
 1,
 0,
 -1,
 -1,
 4,
 4,
 -1,
 4,
 -1,
 -1,
 -1,
 1,
 -1,
 -1,
 2,
 -1,
 -1,
 -1,
 2,
 0,
 -1,
 -1,
 -1,
 -1,
 -1,
 3,
 -1,
 4,
 0,
 -1,
 4,
 -12,
 -1,
 5,
 -1,
 4,
 0,
 -1,
 1,
 5,
 0,
 1,
 0,
 -1,
 0,
 -1,
 -1,
 -1,
 -1,
 -1,
 3,
 3,
 5,
 -1,
 -1,
 -1,
 4,
 -1,
 -1,
 4,
 -1,
 3,
 -1,
 -1,
 0,
 -1,
 -1,
 3,
 -1,
 -1,
 -1,
 0,
 -1,
 4,
 -1,
 3,
 -1,
 -1,
 -1,
 4,
 -1,
 0,
 -1,
 4,
 0,
 2,
 3,
 -1,
 1,
 2,
 -1,
 5,
 -1,
 5,
 -1,
 0,
 0,
 -1,
 0,
 -1,
 5,
 -1,
 -1,
 5,
 -1,
 3,
 -1,
 -1,
 1,
 -1,
 -1,
 -1,
 4,
 0,
 -1,
 4,
 -1,
 -1,
 0,
 2,
 -1,
 -1,
 -1,
 4,
 1,
 0,
 -1,
 -1,
 1,
 -1,
 3,
 -1,
 -1,
 0,
 -1,
 2,
 4,
 0,
 -1,
 2,
 -1,
 -1,
 -1,
 -1,
 2,
 5,
 1,
 6,
 3,
 -1,
 -1,
 -1,
 -1,
 3,
 1,
 5,
 3,
 -1,
 1,
 -1,
 -1,
 4,
 -1,
 2,
 -1,
 -1,
 -1,
 -1,
 1,
 2,
 5,
 0,
 -1,
 -1,
 -1,
 3,
 1,
 0,
 -1,
 -1,
 5,
 -1,
 1,
 5,
 0,
 -1,
 -1,
 -1,
 0,
 -1,
 2,
 -1,
 -1,
 4,
 -1,
 -1,
 6,
 0,
 -1,
 6,
 1,
 -1,
 -1,
 1,
 -1,
 6,
 6,
 -1,
 -1,
 -1,
 3,
 2,
 -1,
 4,
 3,
 1,
 5,
 1,
 5,
 -1,
 -1,
 -1,
 -1,
 4,
 -1,
 0,
 1,
 -1,
 -1,
 -1,
 4,
 -1,
 1,
 -1,
 0,
 -1,
 0,
 4,
 -1,
 -1,
 5,
 -1,
 -1,
 -1,
 6,
 -1,
 4,
 -1,
 -1,
 -1,
 -1,
 -1,
 1,
 1,
 2,
 1,
 6,
 1,
 5,
 -1,
 -1,
 6,
 -1,
 -11,
 5,
 -1,
 1,
 5,
 -1,
 4,
 -1,
 -1,
 -1,
 -1,
 3,
 -1,
 -1,
 -1,
 -1,
 3,
 2,
 -1,
 2,
 -1,
 -1,
 0,
 -1,
 5,
 -1,
 -1,
 1,
 0,
 -1,
 -1,
 -1,
 1,
 -1,
 1,
 2,
 -1,
 -1,
 2,
 1,
 5,
 1,
 -1,
 4,
 6,
 -1,
 -1,
 1,
 -1,
 5,
 4,
 5,
 -1,
 2,
 3,
 5,
 -1,
 6,
 3,
 5,
 2,
 1,
 -1,
 3,
 -1,
 -1,
 -1,
 -1,
 2,
 -1,
 1,
 6,
 -1,
 0,
 0,
 -1,
 0,
 -1,
 0,
 -1,
 3,
 -1,
 5,
 0,
 -1,
 1,
 0,
 -1,
 -1,
 -1,
 -1,
 -1,
 2,
 -1,
 -1,
 6,
 3,
 5,
 2,
 1,
 -1,
 1,
 0,
 1,
 -1,
 -1,
 -1,
 0,
 3,
 2,
 -1,
 1,
 4,
 0,
 0,
 4,
 3,
 0,
 -1,
 -1,
 -1,
 4,
 6,
 5,
 3,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 2,
 3,
 4,
 -1,
 6,
 -1,
 -1,
 3,
 0,
 3,
 -16,
 -1,
 -1,
 2,
 -1,
 4,
 2,
 -1,
 -1,
 2,
 -1,
 -1,
 4,
 -1,
 1,
 2,
 0,
 2,
 4,
 3,
 6,
 3,
 -1,
 6,
 -1,
 -1,
 3,
 -1,
 4,
 0,
 -1,
 -1,
 1,
 -1,
 6,
 5,
 3,
 3,
 1,
 -1,
 -1,
 2,
 5,
 6,
 3,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 1,
 0,
 -1,
 -1,
 -1,
 -9,
 -1,
 0,
 -1,
 -1,
 2,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 0,
 -1,
 -1,
 -1,
 -1,
 2,
 -1,
 6,
 2,
 2,
 4,
 -1,
 -1,
 3,
 -1,
 5,
 -1,
 -1,
 5,
 4,
 4,
 1,
 -1,
 -1,
 4,
 6,
 -1,
 -1,
 0,
 -1,
 2,
 0,
 2,
 0,
 3,
 0,
 -1,
 0,
 -1,
 -1,
 0,
 -1,
 3,
 -1,
 -1,
 4,
 -1,
 0,
 4,
 5,
 2,
 -1,
 3,
 -1,
 -1,
 3,
 1,
 0,
 5,
 2,
 -1,
 -1,
 6,
 0,
 4,
 2,
 -1,
 -1,
 -1,
 6,
 -1,
 6,
 -1,
 3,
 -1,
 -1,
 1,
 -1,
 -1,
 0,
 -1,
 -1,
 2,
 3,
 -1,
 0,
 1,
 -1,
 5,
 0,
 3,
 -1,
 0,
 3,
 -1,
 4,
 -1,
 2,
 0,
 -1,
 5,
 1,
 4,
 2,
 -1,
 0,
 5,
 -1,
 3,
 -1,
 -1,
 4,
 -1,
 6,
 1,
 5,
 0,
 3,
 5,
 2,
 6,
 -1,
 1,
 0,
 3,
 -1,
 -1,
 5,
 0,
 7,
 1,
 4,
 1,
 6,
 -1,
 2,
 1,
 -1,
 4,
 3,
 -1,
 -1,
 1,
 -1,
 -1,
 2,
 -1,
 -1,
 4,
 -1,
 7,
 -1,
 7,
 -1,
 -1,
 3,
 1,
 7,
 0,
 -1,
 -1,
 3,
 6,
 1,
 2,
 4,
 -1,
 0,
 -1,
 0,
 3,
 6,
 0,
 5,
 5,
 -1,
 4,
 0,
 -1,
 1,
 -1,
 1,
 -1,
 -1,
 -1,
 1,
 4,
 1,
 3,
 1,
 3,
 -1,
 1,
 -1,
 7,
 6,
 5,
 -1,
 -1,
 5,
 5,
 6,
 -1,
 -1,
 6,
 -1,
 -1,
 0,
 5,
 3,
 3,
 0,
 0,
 7,
 -1,
 -1,
 3,
 -1,
 -1,
 -1,
 -1,
 1,
 -1,
 -1,
 -1,
 -1,
 3,
 -1,
 -1,
 1,
 ...]

In [22]:
df1['yearsAfter'] = draft_years_after

In [23]:
df1

                PLAYER  GP   MIN   PIE  Year  overall  yearsAfter
0           A.C. Green  83  30.1   9.8  1996      NaN          -1
1          Aaron McKie  83  19.6   9.5  1996      NaN          -1
2       Aaron Williams  33  17.0  11.2  1996      NaN          -1
3            Acie Earl  47  10.6   5.6  1996      NaN          -1
4           Adam Keefe  62  14.8   8.3  1996      NaN          -1
...                ...  ..   ...   ...   ...      ...         ...
12302      Zach LaVine  67  34.7  12.9  2021     13.0           7
12303   Zavier Simpson   4  43.5   5.9  2021      NaN          -1
12304       Zeke Nnaji  41  17.0   7.8  2021     22.0           1
12305  Ziaire Williams  62  21.7   5.5  2021     10.0           0
12306   Zylan Cheatham   1   5.2 -16.7  2021      NaN          -1

[12307 rows x 7 columns]

In [24]:
finaldf = df1[df1['yearsAfter'] != -1]

In [27]:
finaldf.to_csv("PIE_overall_yearsAfter.csv")

In [25]:
finaldf[finaldf['PLAYER'] == "Joe Smith"]

Empty DataFrame
Columns: [PLAYER, GP, MIN, PIE, Year, overall, yearsAfter]
Index: []

In [26]:
finaldf

                PLAYER  GP   MIN   PIE  Year  overall  yearsAfter
9        Allen Iverson  76  40.0  10.7  1996      1.0           0
12      Amal McCaskill  17   6.4   5.4  1996     49.0           0
21      Antoine Walker  82  36.2   9.4  1996      6.0           0
31           Ben Davis  20   4.9   2.2  1996     43.0           0
48         Brian Evans  14   4.1   6.7  1996     27.0           0
...                ...  ..   ...   ...   ...      ...         ...
12298   Xavier Tillman  53  13.2   9.4  2021     35.0           1
12301     Zach Collins  28  17.9  10.7  2021     10.0           4
12302      Zach LaVine  67  34.7  12.9  2021     13.0           7
12304       Zeke Nnaji  41  17.0   7.8  2021     22.0           1
12305  Ziaire Williams  62  21.7   5.5  2021     10.0           0

[8112 rows x 7 columns]