In [11]:
import pandas as pd
import numpy as np
salraies_pos = pd.read_csv('/Users/Tim/Documents/GitHub/NBA-Draft-Biola-Summer-Research/salaries_w_bins_1984_to_2021.csv')

In [64]:
def getTeamID(team_name):
    from nba_api.stats.static import teams
    teams_info = teams.find_teams_by_nickname(team_name)#teaminfocommon.TeamInfoCommon(league_id = '00', team_id
    df_teams_info = pd.DataFrame(teams_info)
    return df_teams_info['id'].values

def getTeamSalary(teamIDs = [], seasonIDs = []):

    from nba_api.stats.endpoints import commonteamroster
    from nba_api.stats.static import teams, players
    import pandas as pd
    import numpy as np
    
    result = []
    salaries_pos = pd.read_csv('/Users/Tim/Documents/GitHub/NBA-Draft-Biola-Summer-Research/salaries_w_bins_1984_to_2021.csv')
    salaries_pos['name'] = salaries_pos['name'].apply(lambda x: x.strip())
    
    if not teamIDs:
        teams_info = teams.get_teams()#teaminfocommon.TeamInfoCommon(league_id = '00', team_id
        df_teams_info = pd.DataFrame(teams_info)
        teamIDs = df_teams_info['id'].values
        
    if not seasonIDs:
        seasonIDs = ['2021']
    
    for season in seasonIDs:
        sal_in_yr = salaries_pos[salaries_pos['season_start'] == int(season)]
        sal_in_yr =  sal_in_yr.sort_values(by = 'name')
        for team in teamIDs:
            team_name = teams.find_team_name_by_id(team)
            team_roster = commonteamroster.CommonTeamRoster(season = season, team_id = team)
            team_roster_df = team_roster.common_team_roster.get_data_frame()
            team_roster_df = team_roster_df.sort_values(by = 'PLAYER')
            player_names = team_roster_df['PLAYER'].values
            roster_sals = sal_in_yr[sal_in_yr['name'].isin(player_names)]    
#             display(roster_sals,team_roster_df) #Uncomment this if error occurs
            team_roster_df['SALARY'] = roster_sals['salary'].values
            team_roster_df['SALARY BIN'] = roster_sals['salary_bin'].values
            result.append(team_roster_df)
            
    return result
    #return teamIDs

g = getTeamID('Cavaliers')
#display(g)
result = getTeamSalary(teamIDs = g, seasonIDs=['2012'])
display(result[0])

# total_sal = team_roster_df['SALARY'].sum()

# salary_breakdown = {'Team': team_name, 'Total Salary': total_sal, }

,TeamID,SEASON,LeagueID,PLAYER,NICKNAME,PLAYER_SLUG,NUM,POSITION,HEIGHT,WEIGHT,BIRTH_DATE,AGE,EXP,SCHOOL,PLAYER_ID,HOW_ACQUIRED,SALARY,SALARY BIN
12,1610612739,2012,00,Alonzo Gee,Alonzo,alonzo-gee,33,F,6-6,219,"MAY 29, 1987",26.0,3,Alabama,202087,None,3500000,average
9,1610612739,2012,00,Anderson Varejao,Anderson,anderson-varejao,17,C,6-11,260,"SEP 28, 1982",30.0,8,,2760,None,8368182,above average
0,1610612739,2012,00,CJ Miles,CJ,cj-miles,0,G,6-6,222,"MAR 18, 1987",26.0,7,No College,101139,None,4792332,average
10,1610612739,2012,00,Chris Quinn,Chris,chris-quinn,20,G,6-2,175,"SEP 27, 1983",29.0,5,Notre Dame,200809,None,3726600,average
1,1610612739,2012,00,Daniel Gibson,Daniel,daniel-gibson,1,G,6-2,200,"FEB 27, 1986",27.0,6,Texas,200789,None,390027,minimum
3,1610612739,2012,00,Dion Waiters,Dion,dion-waiters,3,G,6-4,215,"DEC 10, 1991",21.0,R,Syracuse,203079,None,5530080,above average
5,1610612739,2012,00,Kevin Jones,Kevin,kevin-jones,5,F,6-8,260,"AUG 25, 1989",23.0,R,West Virginia,203158,None,6091363,above average
2,1610612739,2012,00,Kyrie Irving,Kyrie,kyrie-irving,2,G,6-3,191,"MAR 23, 1992",21.0,1,Duke,202681,None,4200000,average
4,1610612739,2012,00,Luke Walton,Luke,luke-walton,4,F,6-8,235,"MAR 28, 1980",33.0,9,Arizona,2575,None,2277306,average
8,1610612739,2012,00,Marreese Speights,Marreese,marreese-speights,15,F-C,6-10,255,"AUG 04, 1987",25.0,4,Florida,201578,None,256240,minimum
13,1610612739,2012,00,Omri Casspi,Omri,omri-casspi,36,F,6-9,225,"JUN 22, 1988",25.0,3,Maccabi Tel Aviv,201956,None,768720,below average
7,1610612739,2012,00,Shaun Livingston,Shaun,shaun-livingston,14,G,6-7,175,"SEP 11, 1985",27.0,8,No College,2733,None,1000000,below average
6,1610612739,2012,00,Tristan Thompson,Tristan,tristan-thompson,13,F,6-9,227,"MAR 13, 1991",22.0,1,University of Texas at Austin,202684,None,4006080,average
14,1610612739,2012,00,Tyler Zeller,Tyler,tyler-zeller,40,C-F,7-0,250,"JAN 17, 1990",23.0,R,North Carolina,203092,None,1563120,average
11,1610612739,2012,00,Wayne Ellington,Wayne,wayne-ellington,21,G,6-4,200,"NOV 29, 1987",25.0,3,North Carolina,201961,None,2083042,average